@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}

body {
    line-height: 1.5;
    font-size: 100%;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}

#wrap {
    width: 1000px;
    background: #eeeeee;
    margin: 0 auto;
    padding: 50px;
}

#wrap h1 {
    margin-bottom: 50px;
}

#wrap h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#wrap h3 span {
    color: #ff007c;
}

#wrap h2 {
    padding: 10px 20px;
    margin: 50px 0 0 0;
    background: #000;
    color: #fff;
}

.menu {
    height: 145px;
    margin: 10px 0;
}

.menu_img {
    float: left;

}

.menu_info {
    float: left;
    margin-left: 10px;
}

.menu_info h4 {
    color: #ff007c;
    font-size: 20px;
    text-transform: capitalize;
}

.menu_info p.price {
    padding: 20px 0;
    color: #666;
}
}